*.pyc
.*
*~
fishtest/build
fishtest/fishtest.egg-info

worker/fishtest.cfg
worker/testing/
worker/testing/COPYING
worker/testing/ENGINES
worker/testing/QtCore4.dll
worker/testing/README
worker/testing/base.exe
worker/testing/base.exe
worker/testing/cutechess-cli.exe
worker/testing/msvcp100.dll
worker/testing/msvcr100.dll
worker/testing/run_id.txt
worker/testing/stockfish.exe
worker/testing/8moves_GM.pgn
worker/testing/results*.pgn